<h1 class= "label" style="background-color: #011F2E; color: #fff;">
    <strong>
        New Shop
    </strong>
</h1>

<%= render 'form', shop: @shop %>

<br>

<h1>
    <%= link_to 'Back', shops_path %>
</h1>
