<h1 class= "label" style="background-color: #011F2E; color: #fff;">
    New Recommendation
</h1>

<br>

<%= render 'form', recommendation: @recommendation %>

<br>

<h1>
    <%= link_to 'Back to User', user_path(@current_user) %>
</h1>
