<div class="ui container">
<center>


<h1>New Recommendation</h1>

<%= render 'form', recommendation: @recommendation %>
<br>

<%= link_to 'Back to User', user_path(@current_user) %>

</center>
</div>
