<h1 class= "label" style="background-color: #011F2E; color: #fff;"><strong style="color: #fff;">New Shop Review</h1>

<%= render 'form', shop_review: @shop_review %>

<h1 style="font-size: 15px;"><%= link_to 'Back', shop_reviews_path %></h1>

